
&spi0 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
	status = "okay";

    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
	tpad0: glidepoint@0 {
		compatible = "cirque,pinnacle";
		reg = <0>;
		spi-max-frequency = <4000000>;
		status = "okay";
        dr-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        sensitivity = "2";
	};
};
